@model Domus.Models.Particular

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Particular</h1>
<hr />
 <form asp-action="Create">
    <div class="card">
        <div class="card-header">
            <h2>Datos del Cliente</h2>
        </div>
        <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" id="nombre" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Apellido" class="control-label"></label>
                                <input asp-for="Apellido" class="form-control" id="apellido" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DNI" class="control-label"></label>
                                <input asp-for="DNI" class="form-control" id="dni" />
                                <span asp-validation-for="DNI" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CUIL" class="control-label"></label>
                                <input asp-for="CUIL" class="form-control" id="cuil" />
                                <span asp-validation-for="CUIL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                                <input asp-for="FechaDeNacimiento" class="form-control" id="fechaNac" />
                                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                             <div class="form-group">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" id="telefono" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4"> 
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" id="email"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="NroCuenta" class="control-label"></label>
                                <input asp-for="NroCuenta" class="form-control" id="nroCuenta" />
                                <span asp-validation-for="NroCuenta" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center form-group my-3">
                        <div class="col-md-4">
                            <input type="submit" id="Guardar" value="Crear" class="w-100 btn btn-success" />
                        </div>
                    </div>
        </div>

    </div>
</form>

<div class="mt-3">
    <a asp-action="Index" class="d-flex align-align-items-center">
        <i class="fas fa-arrow-left fa-2x"></i><span class="ms-1">Volver</span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
