@model Domus.Models.Corporativo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editando Cliente Corporativo</h1>
<hr />
<form asp-action="Edit">
    <div class="card">
        <div class="card-header">
            <h2>Datos del Cliente</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Domicilio" class="control-label"></label>
                        <input asp-for="Domicilio" class="form-control" />
                        <span asp-validation-for="Domicilio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nacionalidad" class="control-label"></label>
                        <input asp-for="Nacionalidad" class="form-control" />
                        <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="RazonSocial" class="control-label"></label>
                        <input asp-for="RazonSocial" class="form-control" />
                        <span asp-validation-for="RazonSocial" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CUIT" class="control-label"></label>
                        <input asp-for="CUIT" class="form-control" />
                        <span asp-validation-for="CUIT" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="IdCliente" />
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TipoCliente" class="control-label"></label>
                        <select asp-for="TipoCliente" class="form-control" value="@Model.TipoCliente">
                                    <option value="" disabled hidden selected>Seleccione un tipo de cliente</option>
                                    <option value="1">Locador</option>
                                    <option value="2">Locatario</option>
                                </select>
                        <span asp-validation-for="TipoCliente" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center form-group my-3">
                <div class="form-group col-md-4">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="mt-3">
    <a asp-action="Index" class="d-flex align-align-items-center">
        <i class="fas fa-arrow-left fa-2x"></i><span>Volver</span>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
